body{
margin: 0;
text-align: center;
}

div{
    background-color: #F5EFE6;
    padding: 10px;
}
h1{
    font-family: 'Parisienne', cursive;
    margin-top: 0;
    margin-bottom: 0;
}
.top-container{

}
.middle-container{
}
.cloud-top {
    position: relative;
    left: 260px;
    top: 30px;
}
.cloud-bottom {
    position: absolute;
    top: 180px;
    left: 660px;

}
.snowboarding {
    width: 800px;
    height: 600px;
}