body{
margin: 0;
text-align: center;
}

div{
    padding: 10px;
    position: relative;
}
h1{
    color: #66BFBF;
    font-size: 562%;
    line-height: 2;
    font-family: 'Parisienne', cursive;
    margin-top: 50px;
    margin-bottom: 0;
}
h2{
    font-weight: normal;
    color: #66BFBF;
    margin-top: 15px;
    font-size: 2.5rem;
}
h3{
    color: #11999E;
}
a{
    color: #11999E;
}

.skill-row{

    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.top-container{
    background-color: #8ecae6;
}
.middle-container{
}
.cloud-top {
    position: relative;
    left: 260px;
    top: 30px;
}
.cloud-bottom {
    position: absolute;
    top: 360px;
    left: 660px;

}
.snowboarding {
    width: 25%;
    height: 25%;
    margin-right: 30px;
    float: left;
}
.programming-image {

    width: 25%;
    height: 25%;
    margin-right: 30px;
    float: left;
}